@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alice&family=Baloo+2:wght@400..800&display=swap');

:root {
    --primary-color: #f7d242; /* Amarelo */
    --secondary-color: #333; /* Cinza escuro */
    --text-color: #eee; /* Branco para texto */
    --blue-border-color: #6a5acd; /* Cor azul para a borda do Design UI/UX */
    --spacing-outer: 60px;
    --spacing-section: 15px;
    --dark-green-icon: #1a4f1a; /* Nova variável: Verde escuro para o ícone da casa */
  }
  
  /* O resto do global.css permanece o mesmo */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;

  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #ffffff;
    color: var(--text-color);
    line-height: 1.6;
    overflow-x: hidden;
  }
  
  .portfolio-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex-grow: 1;
    padding: 0 var(--spacing-outer);
  }
  
  section {
    padding: var(--spacing-section) 0;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .visible {
    opacity: 1;
    transform: translateY(0);
  }